/* Stylizacja dla ekranów o szerokości do 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .nav-button {
    display: none;
  }

  .offer-section-title {
    font-size: 28px;
    margin-top: 40px;
  }

  .flex-boxes {
    gap: 40px;
    padding: 0;
    justify-content: center;
  }

  .box {
    width: 337px;
    height: 329px;
    margin: 0 auto;
  }

  .box:hover {
    transform: none;
  }

  .expert {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .expert-info {
    margin: 30px 0;
  }

  .expert-info h3 {
    margin-top: 20px;
  }

  .expert-info-right {
    margin: 30px 0;
    text-align: left;
  }

  .footer .container {
    flex-direction: column;
    gap: 10px;
    height: 120px;
  }

  .offer-button {
    padding: 10px;
    text-align: center;
  }

  .header-main {
    font-size: 28px;
  }

  .offer,
  .flex-boxes {
    padding: 30px;
  }

  .header-content {
    max-width: 100%;
    padding: 0 10px;
  }

  .header {
    background-size: cover;
    background-position: center;
  }
  .footer-text-paragraph {
    margin-top: 30px;
  }
  .icons {
    padding-bottom: 30px;
  }
  .expert:nth-of-type(even) {
    flex-direction: column;
  }
  .experts-header {
    text-align: center;
  }
  .experts-section {
    padding: 50px 10px;
  }
}
